# Ignore virtual environment
venv/
.venv/
env/

# Ignore python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local model files (downloaded in Dockerfile)
*.joblib
*.pkl

# Ignore datasets
data/
*.csv
*.tsv
*.txt

# Ignore logs
*.log
